@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&display=swap');

* {
    font-family: 'Merriweather', serif;
    margin: 0;
    padding: 0;
}

body {
  display: grid;
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(min-content, max-content) 1fr 1fr;
  grid-template-areas:
  "header"
  "main"
  "main";
} 
#main {
  overflow-x:hidden;
  grid-area: main;
}
#header {
  font-size: 75%;
  grid-area: header;
}
#header, #header .menu {
  background: #d9d9d9;
}
#footer {
  display: none;
  grid-area: footer;
}
.menu {
  margin: 0;
  padding: 0;
   list-style: none; 
   overflow: hidden; 
}
/* menu when being closed on mobile version */
  .header li a {
    /* An experimental text-gradient over the letters */
  background-image: linear-gradient(to bottom, #003366, black);
  background-image: -moz-linear-gradient(to bottom, #003366, black);
  background-image: -webkit-linear-gradient(to bottom, #003366, black);
  background-clip: text;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 3%;
  text-decoration: none;
  }
  .header li a:hover {
    margin-left: 5px;
    background-image: linear-gradient(to bottom, orangered, red);
    background-image: -moz-linear-gradient(to bottom, orangered, red);
    background-image: -webkit-linear-gradient(to bottom, orangered, red);
    background-clip: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: brown;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px #ff0000;
    transition: text-shadow 0.15s, margin-left 0.15s;
    -webkit-transition: text-shadow 0.15s, margin-left 0.15s;
  }
  .addActiveLinkStyle {
    margin-left: 5px;
    background-image: linear-gradient(to bottom, orangered, red);
    background-image: -moz-linear-gradient(to bottom, orangered, red);
    background-image: -webkit-linear-gradient(to bottom, orangered, red);
    background-clip: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: brown;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 2px #ff0000;
    transition: text-shadow 0.15s, margin-left 0.15s;
    -webkit-transition: text-shadow 0.15s, margin-left 0.15s;
  }
  .header li a:hover,
  .header .menu-btn:hover {
  background-color: #f4f4f4;
  }
  /* menu */
  .header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  -webkit-transition: max-height .2s ease-out;
  }
  /* menu icon */
  .header .menu-icon {
  cursor: pointer;
  float: left;
  padding: 28px 20px;
  position: relative;
  user-select: none;
  } 
  .header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  -webkit-transition: background .2s ease-out;
  width: 18px;
  }
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  -webkit-transition: all .2s ease-out;
  width: 100%;
  }
  .header .menu-icon .navicon:before {
  top: 5px;
  }
  .header .menu-icon .navicon:after {
  top: -5px;
  }
  /* menu btn */
  .header .menu-btn {
  display: none;
  }
  .header .menu-btn:checked ~ .menu {
  max-height: 100%;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  }
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  }
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  }
  .underline {
    border-radius: 10%;
    border-bottom: 2px groove slategray;
  }
  #personalPictureFigure {
    text-align: center;
  }
  #personalPictureFigure figcaption {
    margin-top: 10px;
    color: black;
    background-image: linear-gradient(to bottom, black, #003399);
    background-clip: text;
    font-weight: bold;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-shadow: 1px 1px 1px black;
    text-shadow: 1px 1px 1px black;
    font-size: 150%;
    letter-spacing: 1px;

  }
  #pictureOfMe {
    /* offset-x, offset-y, blur-radius, spread-radius, color */
    -webkit-box-shadow: 0 0 4px 4px #333;
    box-shadow: 0 0 4px 4px #333;
    border-radius: 50%;
    max-width: 100%;
    max-height: 100%;
  }
  #social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 5%;
  }
  #social_media_container {
    display: flex;
    justify-content: center;
  }
  #social_media figure a {
    padding: 15px;
    margin: 10px;
    background: red;
    color: white;
    text-decoration: none;
    border-radius: 50%;
    transition: padding 0.25s ease-in-out;
    -webkit-transition: padding 0.25s ease-in-out;
  }
  #social_media figure a:hover {
    padding: 12px;
  }
  /* For the typewriter-like text */
  #container {
    margin-bottom: 2%;
    height: 4%;
    text-align: center;
  }
  #text {
    font-size: 150%;
    display: inline-block;
    color: black;
    background-image: linear-gradient(to bottom, gray, #003399);
    background-clip: text;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: lightgray;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: gray; 
    text-shadow: 1px 1px 1px gray;
    font-size: 1em;
  }
  .websiteSection {
    display: none;
  }
  .currentSectionOpen {
    animation: fadeIn 0.5s ease-in-out;
    -webkit-animation: fadeIn 0.5s ease-in-out;
    -moz-animation: fadeIn 0.5s ease-in-out;
    -o-animation: fadeIn 0.5s ease-in-out;
    display: flex;
    align-items: center;
    text-align: center;
    flex-flow: column;
  }
  @keyframes fadeIn {
    0%, 100% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .currentSectionOpen h2 {
    font-size: 150%;
  }
  .currentSectionOpen .underlineForH2 {
    background: red;
    height: 75%;
    display: block;
    height: 5px;
    position: relative;
    width: 8%;
  }
  .currentSectionOpen .underlineForH2:after {
    top: 10px;
    left: 22.5%;
    background: red;
    content: '';
    display: block;
    height: 75%;
    position: relative;
    width: 50%;
  }

  /* 'About' page */
  #aboutMeArticle {
    /* font-weight: 600; */
    line-height: 150%;
    width: 95%;
    border: 2px dashed purple;
  }
  #aboutSectionIntro {
    margin-top: 2%;
    font-size: 120%;
    margin-bottom: 2%;
  }
  #educationContainer {
    -webkit-box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black; 
    box-shadow: 0 0 3px black;
    border-radius: 3%;
    margin-bottom: 2%;
    background: whitesmoke;
    text-align: start;
    width: 100%;
    height: fit-content;
  }
  #learningContainer {
    -webkit-box-shadow: 0 0 3px black;
    -moz-box-shadow: 0 0 3px black;
    box-shadow: 0 0 3px black;
    border-radius: 3%;
    margin-top: 1%;
    background: whitesmoke;
    text-align: start;
    width: 100%;
    height: fit-content;
  }
  .educationArticle {
    padding: 2%;
  }
  .learningArticle {
    padding: 2%;
  }
  #educationAndLearningContainer {
    margin: 2%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 95%;
  }
  .educationArticle .schoolTopics {
    line-height: 1.2;
  }
  .educationHeading {
    text-align: center;
  }
  /* This is the 'projects' section */
  #projectsContainer {
    margin: 2%;
    width: 80%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .projectDiv {
    padding: 1%;
    flex-basis: 100%; 
  }
  /* This is the 'skills' page */
  #skillsContainer {

    margin: 10%;
    width: 80%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  #fullStackDevelopment {
    height: 400px;
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
  #UIUX_design {
    height: 400px;
    width: 90%;
    padding: 2%;
    margin: 2%;
  }
  .skillDiv {
    /* border: solid #cccccc; */
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    border-radius: 8%;
    border: 2px solid #bfbfbf;
  }
  .skillDiv figure {
    margin: 0 auto;
    border: 2px dotted red;
    width: 20px;
    height: 20px;
  }
  .skillDiv i {
    font-size: 250%;
    margin-bottom: 5%;
    padding: 2.5%;
    border-radius: 25%;
    /* transition: property duration timing-function delay */
    -webkit-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
  }
  .skillDiv:hover {
    /* box-shadow: none|h-offset|v-offset|blur|spread|color {inset, initial, inherit} */
    box-shadow: 0 0 40px 0 slategray;
    -webkit-box-shadoow: 0 0 40px 0 slategray;
    -moz-box-shadow: 0 0 40px 0 slategray;
  }
  .skillDiv:hover i {
    background: red;
    color: white;
  }
  /* Initially when page loads display the */
  #home {
    height: 100%;
    justify-content: center;
  }
  /* for desktop */
@media screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-areas: 
    "header main main main main main"
    "header main main main main main"
    "header main main main main main"
    "header main main main main main"
    "header main main main main main";
  }
  #header { 
    border-right: solid #cccccc;
    grid-area: header;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    }
    #main {
    grid-area: main;
    }
    .header li a {
    padding: 10%;
    font-size: 150%;
    }
    #footer {
    max-height: 100%;
    grid-area: footer;
    }
    .header .menu {
    width: 75%;
    clear: none;
    max-height: none;
    }
    .header .menu-icon {
    display: none;
    }
    .currentSectionOpen h2 {
      font-size: 200%;
    }
    #educationAndLearningContainer {
      height: 68vh;
      flex-direction: row;
    }
    #educationContainer {
      margin-bottom: 0;
      margin-right: 1%;
    }
    #learningContainer {
      margin-top: 0;
      margin-left: 1%;
    }
    /* For project page */
    .projectDiv {
      /* Calculate approximately 25% of screen size for divs */
      flex-basis: calc(100% / 4); 
    }
    /* for 'skills' page */
   /* This is the 'skills' page */
  #skillsContainer {
    margin: 10%;
    width: 80%;
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  #fullStackDevelopment {
    margin: 0;
    flex-basis: calc(100% / 3);
  }
  #UIUX_design {
    flex-basis: calc(100% / 3);
    margin: 0;
  }
  .skillDiv i {
    font-size: 400%;
  }
} 
